* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.autocomplete {
  position: relative;
}

.above {
  position: relative;
  z-index: 20;
}

.below {
  position: relative;
  z-index: 10;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #017474 transparent transparent transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #d4d4d4;
  background-color: #f7f7f7;
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 0;
  width: 100%;
}

.suggestions li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #d4d4d4;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
